# PlatformIO build artifacts
.pio
.pio/
**/build/

# IDE files
.vscode/
.idea/
*.swp
*~

# Secrets & Environment configuration
**/secrets.h
!**/secrets.h.example
*.env
*.env.local

# backend
/backend-service/

# dashboard
/dashboard-ui/

# vision service
/vision-service/
